html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.header {
    width: 100%;
    height: 7%;
    background-color: #333333;
}

.logoContainer {
    height: 100%;
    float: left;
    margin-left: 1%;
}


.headerButton {
    background-color: BLACK;
    color: WHITE;
    font-size: 1.55em;
    min-width: 12%;
    cursor: pointer;
    height: 100%;
    
    position: relative;
    float: right;
    left: -25%;
}
.headerButton:not(:last-child) {
    margin-left: 5%;
}

.logoImage {
    height: 100%;
}

.backgroundImage {
    position: fixed;
    background-image: url(bg.bmp);
    background-size: cover;
    height: inherit;
    width: inherit;
}

.socialMediaTable {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-spacing: 5vw 5vh;
}

.socialMediaIcon {
    width: 100%;
    max-width: 200px;
}

.statementBlock {
    background-color: #C4C4C4;
    text-align:center;
    margin: auto;
    width: 50%;
}

.topGallery {
    text-align: center;
    height: 8%;
    padding-top: .5%;
}

.thumbnailContainer {
    display: inline-block;
    height: 100%;
    padding: .1%;
    background-color: #A7A7A7;
}

.thumbnailContainer:not(:last-child) {
    margin-right: 1%;
}

.thumbnailImage {
    height: 100%;
    cursor: pointer;
}
.content {
    height: 100%;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
/* Taken from "FullScreen YouTube Video Background In Pure CSS" https://codepen.io/anon/pen/gLqmPK */
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}